openapi: 3.1.0
info:
  title: Cloudinary Upload Backup API
  description: The Cloudinary Upload API provides server-side endpoints for uploading, transforming, renaming, and managing assets (images, videos, raw files) in a Cloudinary product environment. Endpoints are versioned under /v1_1/{cloud_name}/{resource_type} and use HTTP Basic Auth with API key and secret.
  version: 1.0.0
  contact:
    name: Cloudinary Support
    url: https://cloudinary.com/contact
  license:
    name: Proprietary
    url: https://cloudinary.com/tos
servers:
- url: https://api.cloudinary.com/v1_1/{cloud_name}
  description: Cloudinary Upload API base
  variables:
    cloud_name:
      default: YOUR_CLOUD_NAME
      description: Your Cloudinary cloud name
security:
- basicAuth: []
tags:
- name: Backup
  description: Backup retrieval operations.
paths:
  /download_backup:
    get:
      operationId: downloadBackup
      summary: Download a backed-up asset version
      description: Retrieve a specific version of a backed-up asset.
      tags:
      - Backup
      parameters:
      - name: asset_id
        in: query
        schema:
          type: string
      - name: version_id
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Backup download URL
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
components:
  schemas:
    GenericResponse:
      type: object
      additionalProperties: true
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic auth using API key as username and API secret as password.
x-generated-from: https://cloudinary.com/documentation/image_upload_api_reference
x-generated-by: claude-crawl-2026-05-08
