openapi: 3.1.0
info:
  title: Cloudinary Upload Backup Transformation API
  description: The Cloudinary Upload API provides server-side endpoints for uploading, transforming, renaming, and managing assets (images, videos, raw files) in a Cloudinary product environment. Endpoints are versioned under /v1_1/{cloud_name}/{resource_type} and use HTTP Basic Auth with API key and secret.
  version: 1.0.0
  contact:
    name: Cloudinary Support
    url: https://cloudinary.com/contact
  license:
    name: Proprietary
    url: https://cloudinary.com/tos
servers:
- url: https://api.cloudinary.com/v1_1/{cloud_name}
  description: Cloudinary Upload API base
  variables:
    cloud_name:
      default: YOUR_CLOUD_NAME
      description: Your Cloudinary cloud name
security:
- basicAuth: []
tags:
- name: Transformation
  description: Apply transformations to existing assets.
paths:
  /{resource_type}/explicit:
    post:
      operationId: explicitAction
      summary: Apply explicit actions to an existing asset
      description: Update tags, metadata, or apply eager transformations on an existing asset.
      tags:
      - Transformation
      parameters:
      - name: resource_type
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/GenericRequest'
      responses:
        '200':
          description: Action applied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Asset'
components:
  schemas:
    GenericRequest:
      type: object
      additionalProperties: true
    Asset:
      type: object
      properties:
        asset_id:
          type: string
        public_id:
          type: string
        version:
          type: integer
        format:
          type: string
        resource_type:
          type: string
        secure_url:
          type: string
          format: uri
      additionalProperties: true
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic auth using API key as username and API secret as password.
x-generated-from: https://cloudinary.com/documentation/image_upload_api_reference
x-generated-by: claude-crawl-2026-05-08
